<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>packages</directory>
        </include>
    </source>
    <php>
        <server name="APP_ENV" value="test"/>
        <server name="APP_DEBUG" value="0"/>
        <server name="DATABASE_DSN" value="sqlite::memory:"/>
        <server name="DATABASE_DRIVER" value="sqlite"/>
        <server name="REDIS_DSN" value="tcp://127.0.0.1:6379"/>
        <server name="RABBITMQ_HOST" value="127.0.0.1"/>
        <server name="RABBITMQ_PORT" value="5672"/>
        <server name="RABBITMQ_USER" value="guest"/>
        <server name="RABBITMQ_PASSWORD" value="guest"/>
        <server name="RABBITMQ_VHOST" value="/"/>
        <server name="RABBITMQ_QUEUE" value="contact_submission_events"/>
        <server name="PERFORMANCE_HTTP_CACHE_MAX_AGE" value="30"/>
        <server name="PERFORMANCE_IDEMPOTENCY_TTL_SECONDS" value="600"/>
        <server name="PERFORMANCE_LOCK_TTL_SECONDS" value="15"/>
        <server name="PERFORMANCE_SLOW_REQUEST_MS" value="250"/>
        <server name="OBSERVABILITY_STRUCTURED_LOGGING_ENABLED" value="false"/>
        <server name="OBSERVABILITY_METRICS_TOKEN" value=""/>
        <server name="REALTIME_MERCURE_HUB_URL" value=""/>
        <server name="REALTIME_MERCURE_JWT" value=""/>
        <server name="REALTIME_CONTACT_TOPIC" value="/realtime/contact-submissions"/>
        <server name="REALTIME_PUBLISH_TIMEOUT_MS" value="10"/>
        <server name="SECURITY_LOGIN_MAX_ATTEMPTS" value="5"/>
        <server name="SECURITY_LOGIN_WINDOW_SECONDS" value="900"/>
        <server name="SECURITY_API_TOKEN_MAX_ATTEMPTS" value="10"/>
        <server name="SECURITY_API_TOKEN_WINDOW_SECONDS" value="900"/>
    </php>
</phpunit>
