<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>packages</directory>
        </include>
    </source>
    <php>
        <server name="APP_ENV" value="test"/>
        <server name="APP_DEBUG" value="1"/>
    </php>
</phpunit>
