<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>packages</directory>
        </include>
    </source>
    <php>
        <server name="APP_ENV" value="test"/>
        <server name="APP_DEBUG" value="0"/>
        <server name="DATABASE_DSN" value="sqlite::memory:"/>
        <server name="DATABASE_DRIVER" value="sqlite"/>
        <server name="REDIS_DSN" value="tcp://127.0.0.1:6379"/>
        <server name="RABBITMQ_HOST" value="127.0.0.1"/>
        <server name="RABBITMQ_PORT" value="5672"/>
        <server name="RABBITMQ_USER" value="guest"/>
        <server name="RABBITMQ_PASSWORD" value="guest"/>
        <server name="RABBITMQ_VHOST" value="/"/>
        <server name="RABBITMQ_QUEUE" value="contact_submission_events"/>
    </php>
</phpunit>
